.logo {
    width: 100px;
    height: 32px;
    margin-left: 5px;
    padding: 0px 20px 0px 5px;
}

.logo-bg {
    background-image: url('styles/img/strut-logo-32-light.png');
    display: inline-block;
    width: 100px;
    height: 32px;
}

.logo-holder {
    margin-top: 0px;
    margin-left: -8px;
}

.logo:hover {
    background-position: 5px 0;
}

.logo-group .logo .caret {
    position: absolute;
    right: 6px;
    top: 5px;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.logo-holder .dropdown-menu .label {
    position: absolute;
    right: 5px;
}

/* CSS styling for the LogoRow Configuration Menu Item */

.logoRow_configMenuItem.modal {
    transform: translateX(-50%) translateY(30%);
    /* bootstrap modal already has left as -50%, we are using that here */
    margin-left: 0px;
    /*cancel the margin-left: -280px by bootstrap*/
    width: auto;
    /* Overwriting the modal width of 560px given by bootstrap */
}

.logoRow_configMenuItem .modal-body {
    padding: 0px 15px 0px 0px;
    width: 60vw;
    height: 35vh;
}

.modal-footer .alert {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
}

.logoRow_configMenuItem .container-fluid {
    height: 100%;
}

.logoRow_configMenuItem .display-flex {
    display: flex;
    height: 100%;
}

.logoRow_configMenuItem .sidebarMenuList {
    height: 100%;
    border-right: 1px solid #ddd;
}

.logoRow_configMenuItem .sidebarMenuList a {
    color: #0088cc;
    height: 4vh;
}

.logoRow_configMenuItem .sidebarMenuList a:hover {
    background-color: #eeeeee;
}

.logoRow_configMenuItem .sidebarMenuList a.current {
    background-color: #eeeeee;
}

.flex-pinch-out {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.logoRow_configMenuItem .width-auto {
    width: auto;
}

/* CSS for the modals in Tag Library */

.AddLibraryModal input[type="text"] {
    width: 98%;
}

.EditLibraryModal input[type="text"] {
    width: 98%;
}

.ViewLibraryModal {
    width: auto;
    height: 100vh;
    margin-left: 0px;
    left: 0px;
    top: 0px;
}

.ViewLibraryModal .table-hover tbody tr:hover td {
    background-color: #eeeeee;
}

.ViewLibraryModal .table-bordered,
.ViewLibraryModal .table-bordered th,
.ViewLibraryModal .table-bordered td {
    border-left-width: 1px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ViewLibraryModal .table-bordered th:nth-child(1),
.ViewLibraryModal .table-bordered td:nth-child(1) {
    max-width: 5vw;
}

.ViewLibraryModal .table-bordered th:nth-child(2),
.ViewLibraryModal .table-bordered td:nth-child(2) {
    max-width: 5vw;
}

.ViewLibraryModal .table-bordered th:nth-child(3),
.ViewLibraryModal .table-bordered td:nth-child(3) {
    max-width: 10vw;
}

.ViewLibraryModal .table-bordered th:nth-child(4),
.ViewLibraryModal .table-bordered td:nth-child(4) {
    max-width: 4vw;
}

.ViewLibraryModal .table-bordered th:nth-child(5),
.ViewLibraryModal .table-bordered td:nth-child(5) {
    max-width: 4vw;
}

/* CSS styling for stuff inside GridContainerDiv*/

.GridView.GridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
}

.GridView .box {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: solid 1px black;
    padding: 5px;
}

.GridView img {
    flex: 1;
    overflow: hidden;
}

.GridView p {
    text-align: center;
    margin: 0px;
    flex: 0;
}